.logo {
  height: rem(26);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: rem(31);
  margin-bottom: rem(31);
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;

  > strong {
    font-weight: 700;
  }

  &:hover {
    color: $base-color;

    span {
      background: $active-color;
      border-radius: 50% 50% 50% 0;
    }
  }

  .icon {
    width: rem(26);
    height: rem(26);
    transition: 0.2s ease-in-out;
    background: $base-color;
    margin-right: rem(12);
    border-radius: 50% 0 50% 50%;
  }
}
