.input {
  width: 100%;

  .label {
    margin-bottom: rem(16);
    font-weight: bold;
  }

  .input-wrapper {
    position: relative;

    .left-icon {
      position: absolute;
      right: 0;
      fill: $primary;

      &.err {
        fill: $error;
      }

      &.success {
        fill: $success;
      }

      &.focus {
        fill: $focus;
      }
    }

    .right-icon {
      position: absolute;
      bottom: rem(8);
      right: rem(8);
      fill: $primary;
      transition: fill 0.3s, border 0.3s;

      &.err {
        fill: $error;
      }

      &.success {
        fill: $success;
      }

      &.focus {
        fill: $focus;
      }
    }

    .text-field {
      width: 100%;
      outline: none;
      box-shadow: none;
      border: rem(1) solid #ccc;
      border-radius: rem(4);
      height: rem(40);
      font-size: rem(18);
      padding: rem(8);
      transition: color 0.3s, border 0.3s;
      appearance: none;
      outline: none;
      background: transparent;

      &.err {
        border-color: $error;
        color: $error;
      }

      &.success {
        border-color: $success;
        color: $success;
      }

      &:focus {
        box-shadow: none;
        border-color: $focus;
        color: $focus;
      }
    }
  }
}
