.text-area {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: rem(23);

    .text {
      margin-left: rem(14);
      margin-right: rem(14);
      font-weight: bold;
    }

    .border {
      &.left {
        flex: 0.2;
      }

      &.right {
        flex: 0.8;
      }

      border-bottom: solid 1px #d4d4d4;
    }
  }

  .input {
    width: 100%;
    height: rem(115);
    border-radius: 1px;
    box-shadow: inset 1px 1px rem(4) 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border: solid 1px #979797;
    padding: rem(12);
  }
}
