$small: 320;
$large: 1337;

$rem-base: 16;

$primary: #d95c00;
$secondary: #304858;
$tertiary: #e2c085;
$background: #f2f6f7;
$black: #303133;
$grey: #8d8d8f;
$light_gray: #e6e6e6;
$success: #00b089;
$warning: #fae608;
$error: #df1642;
$focus: #e2c085;
$inactive: #dadada;
