@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$small: 320;
$large: 1337;

$rem-base: 16;

$background-color: #fff;
$secondary-color: #f5f6f8;
$base-color: #4a90e2;
$active-color: #51a6ff;
$default-color: #fafafa;
$border-color: #979797;
$inactive-color: #606e79;
$font-color: #454545;
$font-bright-color: #727272;
$font-color-secondary: #272727;
$error-color: #f75e5e;
$success-color: #3fc380;
