.divider {
  display: flex;
  align-items: center;

  .left {
    opacity: 0.4;
    border-bottom: 1px solid #979797;
    width: rem(71);
  }

  .text {
    margin-left: rem(12);
    margin-right: rem(12);
    font-size: rem(18);
  }

  .line {
    opacity: 0.4;
    border-bottom: 1px solid #979797;
    flex: 1;
  }
}
