.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: rem(28);
  padding-bottom: rem(28);
  background-color: #f5f6f8;
  margin-bottom: rem(12);

  .image {
    box-shadow: rgba(0, 0, 0, 0.19) 0 rem(2) rem(14) 0;
    margin-bottom: rem(7);
    display: inline-block;
    width: rem(56);
    height: rem(56);
    border-radius: 99999px;
  }

  .user-type {
    color: none;
  }

  .email {
    color: none;
    font-size: rem(11);
  }
}
