.checkbox {
  color: white;
  height: rem(20);
  width: rem(20);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: rem(4);
  box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.1);

  input {
    display: none;
  }

  &.active {
    background: $active-color;
  }
}
